@import "./styles/colors.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, Sans-Serif;
  background-color: $ml-color-gray-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}
@function calc-col($count) {
  $result: 100%;

  $result: $result / 12 * $count;

  @return $result;
}

.align-center {
  float: none;
  text-align: center;
}
