@import "../../styles/colors.scss";

$width-icon: 36px;

.search-box-header-component {
  & .seach-box-component {
    background-color: $ml-color-white;
    border-radius: 4px;
    & .search-box-input {
      line-height: 1;
      font-size: 18px;
      color: $ml-color-gray-400;
      padding: 10px 13px;
      border: none;
      background: none;
      outline: none;
      width: calc(100% - #{$width-icon});
      vertical-align: middle;
    }
    & .search-box-button-icon {
      line-height: 1;
      display: inline-block;
      border: none;
      outline: none;
      vertical-align: middle;
      background: $ml-color-gray-100;
      width: $width-icon;
      cursor: pointer;
      font-size: 18px;
      padding: 11px 10px;
      border-radius: 0 4px 4px 0;
      img {
        vertical-align: middle;
      }
    }
  }
}
