$ml-color-yellow: #ffe600;
$ml-color-gray-500: #333333;
$ml-color-gray-400: #666666;
$ml-color-gray-300: #999999;
$ml-color-gray-100: #eeeeee;
$ml-color-white: #ffffff;
$ml-color-blue-light: #3483fa;
